*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear
{
    clear: both;
}
.home
{
    background-image: url(img/slider/slider-01.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin-bottom: 50px;
    
}
.layer
{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    color:#fff;
    overflow: auto;
position: relative;
}
.layer .nav-bar
{
    background: #333;
 position: fixed;
 width: 100%;
 z-index: 9;
}
.nav-bar .logo
{
    width: 20%;
    margin-left: 10%;
    float: left;
    text-align: center;
}
.logo a
{
    color: #ff305b;
    display: block;
    font-size: 24px;
    font-weight: 800;
    padding: 15px 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    float: left;
}
.nav-bar .details
{
   width: 60%;
      float: right; 
      margin-right: 10%;
}
.ul-list
{
    float: right;
}
.details ul
{
    width: 100%;
list-style-type: none;
float: right;
padding: 17px 0;
}
.details ul li
{
float: left;
padding: 0 10px;
}
 li a
{
    color: #fff;
    padding:20 0px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.layer .caption
{
    width: 90%;
    margin:100px auto;
    text-align: center;
    padding-top: 70px;
}
.caption h1
{
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    color: #ff305b;
    font-weight: bold;
    
}
.caption h3
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.caption h4
{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
@media only screen and (max-width: 767px) {
    .nav-bar { width: 100%;display: flex; flex-wrap: wrap; flex-direction: column;}
    .nav-bar .details { width: 100%;}
    .details .ul-list ul { width: 100%;}
   
 
    
}
.about
{
    padding: 100px 0 50px;
    margin-bottom: 75;
   
  
}
.container
{
    width: 90%;
   margin: auto;
}
.container .row
{
    
    padding: 10px;
}
.row .profile
{
   width: 40%;
  
   
   float: left;
}
.profile-pic
{
 
 border: solid 4px #555555;
 position: relative;
 overflow: hidden;
}
.profile-pic img
{
    width: 100%;
    
    
}
.profile-caption
{
    padding-top: 50%;
    text-align: center;
    background-color: rgba(0,0, 0, 0.5);
position: absolute;
top: 0;
top: 100%;
width: 100%;
height: 100%;
transition: top 1s;
}
.profile-pic:hover .profile-caption
{
top: 0;
}
.social-2 img
{
    width: 5%;
}

.row .information
{
    width: 60%;
  
    
    float: left;
}
 .information .personal-info
{
    width: 80%;
    margin: auto;
}
.personal-info h2
{
    padding-left: 15px;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 34px;
    font-weight: 600;
    position: relative;
 }  
 .personal-info p
 {
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
    font-size: 18px;
 }
 .information h2::before
{
    content:'';
    background-color:#ff305b;
    position: absolute;
   height: 25px;
    top: 10px ;
    left: 0;
    width: 4px;
}  
.profile-about
{
    margin-bottom: 20px;
    
    
}
.profile-about ul
{
    width: 90%;
    margin: auto;
    list-style-type: none;
}
.profile-about ul li
{
    width: 50%;
    float: left;
    padding: 10px;
    color: #999999;

}
.profile-about span
 {
     color: black;
    font-size: 20px;
    font-weight: 600;
}
.profile-about ul li a
{
    text-decoration: none;
    color: #999999;
}
.download-cv-btn
{
 
    width: 60%;
    margin-bottom: 15px;
}
 .download-cv-btn a
{
    width: 50%;
     padding: 10px;
     border: 1px solid #a94442;
     border-radius: 6px;
     background-color: #ff305b;
     
     color: #fff;
    text-decoration: none;
} 
@media only screen and (max-width: 767px) {
    
    .about .profile { width: 100%;}
     .profile .profile-pic { width: 70%; margin: auto; border:0.5px solid #999999; border-radius: 5px; margin-bottom: 30px;}
     .about .information { width: 100%;  }
    .profile-about ul li{ width: 100%;}
    .personal-info .download-cv-btn{ width: 100%;}
    
}

.services
{
    padding: 100px 0 54px;
    background: #f1f1f1;
   
}
.row .text
{
    width: 50%;
    margin: auto;
    text-align: center;
}
.text h2
{
   
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
    padding-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}
.text h2::before
{

    content:"";
     border-color: #ff305b; 
     position: absolute;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
       right: 0;
       padding: 4px 0 5px;
    width: 70px;
}
.text h2::after
{

    content:"";
     border-color: #ff305b; 
     position: absolute;
    border-style: solid;
    border-width: 1px 0;
    bottom: 5px;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 160px;
}
.row .single-service
{
    width: 25%;
    text-align: center;
float: left;
color: #555555;

}
.inner
{
    width: 100%;
    padding: 25px 15px;
}
.inner:hover
{
    background-color: #fff;
 
}

.inner i
{
    color: #ff305b;
    display: block;
    font-size: 36px;
    margin-bottom: 20px;
}
.inner h3
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.inner p
{
    margin: 0;
    font-size: 20px;
}
@media only screen and (max-width: 992px) {
    .row .single-service
     { width: 50%; }
    .single-service .inner
    { width: 100%;  }
    }
@media only screen and (max-width: 767px) {
.row .single-service
 { width: 100%; }
.single-service .inner
{ width: 60%; margin: auto; }
}

.portfilio
{
    padding: 100px 0 70px;
    text-align: center;
}
.portfilio-menu
{
    margin-bottom: 50px;
}
.portfilio-menu .active
{
    border: none;
    padding: 3px 12px;
    background-color: transparent;
    font-size: 16px;
  }
.portfolio-images
  {
      width: 33.3333%;
      padding: 0px 10px 30px;
float: left;
  }
  .portfolio-images img
  {
      width: 90%;
  }
 
  @media only screen and (max-width: 992px) {
    .text .portfilio-menu .active
     { width: 50%; }
   
    }
@media only screen and (max-width: 767px) {
.photos .portfolio-images
 { width: 100%; }
 .photos2 .portfolio-images
 { width: 100%; }

}
  .fun-facts
  {
    padding: 100px 0;
    background: #f1f1f1;
  }
  .facts
  {
      width: 25%;
      padding:0 10px;
      text-align: center;
      margin-bottom: 15px;
      float: left;
  }
.singal-fact i
{
    color: #ff305b;
    display: block;
    font-size: 26px;
    margin-bottom: 20px;
}
 .singal-fact .counter
  {
    font-size: 26px;
    font-weight: 800;
  }
  .singal-fact h5
  {
    color: #555555;
    font-size: 16px;
    margin: 0;  
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-
  }  
  @media only screen and (max-width: 767px) {
    .fun-facts .facts 
     { width: 50%; }
 } 
  .Testimonial
  {
    padding: 100px 0;
  } 
  .testimonial-items
  {
      width: 70%;
      background-color: #f1f1f1;
      margin: auto;
       padding: 40px 40px 40px 0; 
       position: relative;
       overflow: hidden;
  }
  .item
  {
      width: 80%;
      float: right;
       }
  .item h3
  {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
  }
  .item h4
  {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
  }
  .item p
  {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
  }
  .item img
  {
      width: 20%;
  }
 .item-image img
 {
     width: 15%;
     border-radius: 50%;
     position: absolute;
     left:3%;
     top: 10%;
 } 
 .empty-div
 {
     width: 25%;
     height: 100%;
      transform: rotate(45deg); 
     position: absolute;
     bottom: 50%;
     left: -12.5%;
     background-color: #ff305b;
 }
 @media only screen and (max-width: 767px) {
    .Testimonial .testimonial-items 
     { width: 100%; }
 } 
 .blog
 {
    padding: 100px 0 70px;
    background-color: #f1f1f1;
 }
 .blog-text
 {
     background-color: #ffffff;
     padding-bottom: 20px;
}
.single-blog
 {
     width: 33.3333%;
     float: left;
     padding: 20px;
 }
 .single-blog img
 {
     width: 100%;
     
 }
 .blog-text iframe
 {
     width: 100%;
     height: 33%;
 }
 .post-meta
 {
   margin: 10px 0 5px 20px;
    color: #555555;
}
.blog-text h3
{
    margin:0px 0 15px 0px;
    font-size: 26px;
}
.blog-text h3 a
{
    color: black;
    
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
 }
 .blog-text p
 {
     margin: 0PX 0 15PX 20PX;
     font-size: 20px;
     color: #555555;
     font-weight: 200;
 }
 .blog-text a
 {
    margin: 0 0 15px 20px;
    color: black;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none; 
 }
 @media only screen and (max-width: 767px) {
    .blog .blog-content .single-blog
     { width: 100%; }
 } 
 .contact
 {
    padding: 100px 0;
 }
 .contact-us
 {
  text-align: center;
    
 }
 
 .contact-us .contact-info
 {
    width: 60%;
    margin-left: 20%;
 }
 .input
 {
     width: 50%;
    float: left;
     padding-bottom: 50px;
 }
 .input-info
 {
     width: 90%;
  padding: 10px;
  border: 1px solid #a94442;
  border-radius: 4px;
 }
 .subject
 {
    padding-bottom: 50px;
 }
 .subject-text
 {
     width: 95%;
     padding: 10px;
  border: 1px solid #a94442;
  border-radius: 4px;
 }
 .text-area
 {
    padding-bottom: 50px;
 }
 .text-area .message
 {
    width: 95%;
    padding: 10px;
    border: 1px solid #a94442;
    border-radius: 4px;
    height: 80px;
 }
 .btn-sub
 {
     
     padding: 10px;
     border: 1px solid #a94442;
     border-radius: 6px;
     background-color: #ff305b;
     color: #fff;
     
    
     
 }
 @media only screen and (max-width: 767px) {
    .contact-us .contact-info .input
     { width: 100%; }
     .contact-us .contact-info .btn-sub
     {
        padding: 5px;
        font-size: 10px;
     }
 } 
 
.copy-rights
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
   
}

.social-logo
{
    background: #333333 ;
    padding: 30px 0;
    text-align: center;
}
.social
{
    width: 80%;
  text-align: center;
    margin:10px auto;
   
}

.social .logo
{
width: 5%;
padding: 0 10px;

}
.copy-rights p
{
    
    font-size: 18px;
    font-weight: 500;
      color: #fff;
}
span a
{
    font-size: 18px;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none; 
    color: #ff305b;
}
@media only screen and (max-width: 992px) {
    .social-logo .social .logo
     { width: 10%; }
   
 } 
@media only screen and (max-width: 767px) {
    .social-logo .social .logo
     { width: 10%; }
     .social-logo .copy-rights p  , .social-logo .copy-rights span a
     {font-size: 14px;};
 } 
 @media only screen and (max-width: 600px) {
    .social-logo .social .logo
     { width: 15%; }
     .social-logo .copy-rights p  , .social-logo .copy-rights span a
     {font-size: 12px;};
 } 
